.home-container {
    margin-top: 30px;
    .home-container-paper {
        padding: 30px;
        text-align: left;
        .search-label {
            background-color: #fff;
            padding: 0 10px;
            position: absolute;
            white-space: nowrap;
        }
        .search-results {
            position: absolute;
            z-index: 10;
        }
        .MuiTypography-h4 {
            font-weight: bold;
            margin-bottom: 15px;
        }
        .download-button {
            margin-right: 10px;
            .download-icon {
                margin-right: 10px;
            }
        }
    }
}

.device-table {
	margin-top: 20px;
    width: 100%;
    td {
        padding: 20px 30px;
    }
    tr:nth-child(odd) {
        background-color: rgba(104, 74, 238, 0.07);
    }
}
