$bg-color: #f0f0f0;

.home-container {
  margin-top: 30px;
  margin-bottom: 100px;

  @media all and (max-width: 820px) {
    margin-top: 15px;
    margin-bottom: 100px;
  }

  .home-container-paper {
    padding: 30px;
    text-align: left;

    @media all and (max-width: 820px) {
      padding: 15px;
    }

    .warning-432 {
      background-color: $bg-color;
      padding: 10px;
      margin-top: 20px;
      border: 1px solid #e3e3e3;
      color: #666;

      .icon {
        margin: 0 20px 0 10px;
        color: #f9a825;
      }
    }

    .device-info {
      margin-bottom: 15px;

      .installed-packages {
        width: 80%;
        border: 1px solid #e3e3e3;
        border-radius: 7px;
        margin-top: 16px !important;

        @media all and (max-width: 820px) {
          width: 100%;
        }
      }
      .installed-packages .packages {
        overflow: auto;
        word-wrap: none;
        white-space: nowrap;
      }

      .installed-packages::before {
        display: none;
      }
      .installed-packages-title {
        font-weight: bold;
      }
    }

    .version-select {
      width: 200px;

      .version-label {
        background-color: inherit;
        padding: 5px;
        margin-top: -10px;
        margin-left: 10px;
        display: block;
        z-index: 10;
      }

      @media all and (max-width: 820px) {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }

    .search-field {
      width: calc(100% - 220px);
      margin-left: 20px;
      position: relative;

      .search-label {
        background-color: #fff;
        padding: 0 10px;
        position: absolute;
        white-space: nowrap;
      }

      .search-results {
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        z-index: 10;
      }

      @media all and (max-width: 820px) {
        width: 100%;
        margin: 20px 0 0;
        padding: 0;
      }
    }

    .MuiTypography-h4 {
      font-weight: bold;
      margin-bottom: 15px;
    }

    .downloads {
      @media all and (max-width: 820px) {
        margin-top: 20px;
      }

      .download-button {
        margin-top: 17px;

        .download-icon {
          margin-right: 10px;
        }
      }
    }

    .interface-switch-bar {
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      background-color: #fff;
      z-index: 9;
      overflow: hidden;

      .interface-switch {
        color: #000;
      }

      .advanced-settings {
        border: 1px solid #999;
        background-color: $bg-color;
        border-radius: 6px;
        margin-top: 20px;
        overflow: hidden;
        margin-bottom: 20px;

        .icon {
          font-size: 1em;
          vertical-align: text-top;
        }

        .options {
          padding-top: 30px;
          background-color: #fff;
        }
      }
    }

    .package-list-input {
      .package {
        margin: 5px 10px 5px 0px;
        border-radius: 30px;
        vertical-align: middle;
        user-select: none;
      }

      .package:hover {
        background-color: $bg-color;
      }

      .package:focus,
      .package:active {
        transition: 0.2s;
        background-color: darken($bg-color, 15%);
      }
    }
  }
}

.device-table {
  margin-top: 20px;
  width: 100%;

  td {
    padding: 20px 30px;
  }

  tr:nth-child(odd) {
    background-color: rgba(104, 74, 238, 0.07);
  }
}
