.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.language-selector-popper-container {
  z-index: 10;
}

.language-selector-popper {
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

.report-problem-container {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px 10%;
  box-sizing: border-box;
  text-align: left;
  border-radius: 0;
  z-index: 10;
}

.report-link {
  float: right;
}

.std-accordian {
  overflow: hidden;

  .MuiAccordionSummary-root {
    background-color: #f3f3f3;
  }

  .std-textarea {
    width: 100%;
    border-radius: 5px;
    font-family: monospace;
  }
}

.header {
  .logo {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    & svg {
      height: 100%;
      width: auto;
    }
  }

  .title-desktop {
    @media all and (max-width: 820px) {
      display: none;
    }
  }

  .title-mobile {
    @media all and (min-width: 820px) {
      display: none;
    }
  }

  .language-toggle-text {
    @media all and (max-width: 820px) {
      display: none;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 800px) {
  .mobile {
    display: none !important;
  }
}

@media all and (max-width: 800px) {
  .desktop {
    display: none !important;
  }

  .report-problem-container {
    font-size: 12px;
    padding: 10px;
  }

  .report-link {
    float: none;
    display: block;
  }
}
